    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Home</title>
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
    </head>
    <body>
    <div class="container">

        <div class="row">
            <h2>Add New Bid</h2>
        </div>

        <div class="row">
            <form action="#" th:action="@{/bidList/validate}" th:object="${bidList}" method="post" class="form-horizontal"
                  style="width: 100%">

                    <div class="form-group">
                        <label for="accountInput">Account</label>
                        <br>
                        <input
                                type="text" th:field="*{account}" class="form-control" id="accountInput"
                                aria-describedby="accountHelp" placeholder="Account">
                        <p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>

                    </div>
                    <br>
                    <div class="form-group">
                        <label for="typeInput">Type</label>
                        <br>
                        <input
                                type="text" th:field="*{type}" class="form-control" id="typeInput"
                                aria-describedby="typeHelp" placeholder="Type">
                        <p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>

                    </div>
                    <br>
                    <div class="form-group">
                        <label for="amountInput">Amount</label>
                        <br>
                        <input
                                type="text" th:field="*{bidQuantity}" class="form-control" id="amountInput"
                                aria-describedby="mailHelp" placeholder="Amount">
                        <p class="text-danger" th:if="${#fields.hasErrors('bidQuantity')}" th:errors="*{bidQuantity}"></p>

                    </div>

                    <button type="submit" class="btn btn-primary">Add</button>

            </form>
        </div>

    </div>
    </body>
    </html>