<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Rule</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/ruleName/validate}" th:object="${ruleName}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of RuleName, there are 2 buttons: Save data and Cancel to the list RuleName
			 -->
			<div class="form-group">
				<label for="nameInput">name</label>
				<br>
				<input
						type="text" th:field="*{name}" class="form-control" id="nameInput"
						aria-describedby="nameHelp" placeholder="name">
				<!--				<div th:if="${#fields.hasErrors('ratingId')}" th:errors="*{moodysRating}">moodysRating can not be null</div>-->
			</div>
			<br>
			<div class="form-group">
				<label for="descriptionInput">description</label>
				<br>
				<input
						type="text" th:field="*{description}" class="form-control" id="descriptionInput"
						aria-describedby="descriptionHelp" placeholder="Term">
			</div>
			<br>
			<div class="form-group">
				<label for="jsonInput">json</label>
				<br>
				<input
						type="text" th:field="*{json}" class="form-control" id="jsonInput"
						aria-describedby="jsonHelp" placeholder="json">
			</div>
			<br>
			<div class="form-group">
				<label for="templateInput">template</label>
				<br>
				<input
						type="text" th:field="*{template}" class="form-control" id="templateInput"
						aria-describedby="templateHelp" placeholder="order">
				<div th:if="${#fields.hasErrors('template')}" th:errors="*{template}"></div>

			</div>
			<br>
			<div class="form-group">
				<label for="sqlInput">sql</label>
				<br>
				<input
						type="text" th:field="*{sqlStr}" class="form-control" id="sqlInput"
						aria-describedby="sqlHelp" placeholder="sql">
				<div th:if="${#fields.hasErrors('sqlStr')}" th:errors="*{sqlStr}"></div>

			</div>
			<br>
			<div class="form-group">
				<label for="sqlPartInput">sqlPart</label>
				<br>
				<input
						type="text" th:field="*{sqlPart}" class="form-control" id="sqlPartInput"
						aria-describedby="sqlPartHelp" placeholder="sqlPart">
				<div th:if="${#fields.hasErrors('sqlPart')}" th:errors="*{sqlPart}"></div>

			</div>

			<button type="submit" class="btn btn-primary">Add</button>
		</form>
	</div>

</div>
</body>
</html>